{% extends "base.html" %}

{% block content %}
<h1>Cadastrar Nova Medição</h1>

<hr>

<h3 style="color:rgb(255,0,0)"><b>Preencha os dados:</b></h3>

<hr>
<form method='POST' action=''>{% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Registrar' />
</form>

<p>*Deixar em branco caso não se tenha os dados</p>
<hr>

<a class="btn btn-primary btn-sm" href="{% url 'hidrometros:home' %}" role="button">Voltar</a>

{% endblock content %}

<!-- <form method='POST' action=''>{% csrf_token %}
{% for field in form %}
<div class="form-group row">
{{ field.erros }}
{{ field.label_tag }} {{ field }}
</div>
{% endfor %}
<p><input type='submit' value='Create Post' /></p>
</form>  -->